{{ ansible_managed | comment }}

#
# put your custom configuration into the custom.conf file
#

# in older version of NSD4 the GLOB is not implemented
# so we include files.

include: {{ nsd_dir_etc }}/main.d/server.conf
include: {{ nsd_dir_etc }}/main.d/remote.conf
include: {{ nsd_dir_etc }}/main.d/key.conf
include: {{ nsd_dir_etc }}/main.d/pattern.conf
include: {{ nsd_dir_etc }}/main.d/zone.conf
include: {{ nsd_dir_etc }}/main.d/custom.conf
