{{ ansible_managed | comment }}
{% from '_helper_macros.j2' import config_value %}

pattern:
{{ config_value('name', pattern.key, ident=1) -}}
{% for key, value in pattern.value.items() %}
{{ config_value(key, value, ident=1) -}}
{% endfor %}
