{{ ansible_managed | comment }}
{% from '_helper_macros.j2' import config_value %}

zone:
{{ config_value('name', zone.key, ident=1) -}}
{% for key, value in zone.value.items() %}
{{ config_value(key, value, ident=1) -}}
{% endfor %}